/*Font face declarations*/
@font-face {
	font-family: 'Lato';
	src: url('../_fonts/Lato-Reg-webfont.eot');
    src: url('../_fonts/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Lato-Reg-webfont.woff') format('woff'),
         url('../_fonts/Lato-Reg-webfont.ttf') format('truetype'),
         url('../_fonts/Lato-Reg-webfont.svg#LatoRegular') format('svg');
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../_fonts/Lato-RegIta-webfont.eot');
    src: url('../_fonts/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Lato-RegIta-webfont.woff') format('woff'),
         url('../_fonts/Lato-RegIta-webfont.ttf') format('truetype'),
         url('../_fonts/Lato-RegIta-webfont.svg#LatoItalic') format('svg');
	font-weight: normal;
	font-style:italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../_fonts/Lato-Bol-webfont.eot');
    src: url('../_fonts/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Lato-Bol-webfont.woff') format('woff'),
         url('../_fonts/Lato-Bol-webfont.ttf') format('truetype'),
         url('../_fonts/Lato-Bol-webfont.svg#LatoBold') format('svg');
	font-weight: bold;
	font-style:normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../_fonts/Lato-BolIta-webfont.eot');
    src: url('../_fonts/Lato-BolIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Lato-BolIta-webfont.woff') format('woff'),
         url('../_fonts/Lato-BolIta-webfont.ttf') format('truetype'),
         url('../_fonts/Lato-BolIta-webfont.svg#LatoBoldItalic') format('svg');
	font-weight: bold;
	font-style:italic;
}
@font-face {
	font-family: 'LatoLight';
	 src: url('../_fonts/Lato-Lig-webfont.eot');
    src: url('../_fonts/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Lato-Lig-webfont.woff') format('woff'),
         url('../_fonts/Lato-Lig-webfont.ttf') format('truetype'),
         url('../_fonts/Lato-Lig-webfont.svg#LatoLight') format('svg');
	font-weight: normal;
	font-style:normal;
}
@font-face {
    font-family: 'LatoBlack';
    src: url('../_fonts/Lato-Bla-webfont.eot');
    src: url('../_fonts/Lato-Bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Lato-Bla-webfont.woff') format('woff'),
         url('../_fonts/Lato-Bla-webfont.ttf') format('truetype'),
         url('../_fonts/Lato-Bla-webfont.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*basic styles*/
html, body {
	margin: 0;
}
html {
	background: #8868AA;
}
body {
	font: 100% Lato, Helvetica, sans-serif;
	background: white;
	width: 80%;
	margin: 0 auto;
	padding: 2%;
	line-height: 1.6;
}
article, aside, section, nav, figure, header, footer {
	display: block;
}
h1, h2, h3, h4 {
	font-weight: normal;
	font-family: LatoLight, Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #575451;
	margin: 0;
	line-height: 1;
}
h1 {
	font-size: 2.6em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.8em;
	text-transform: uppercase;
}
h4 {
	font: 1.2em Lato, Helvetica, sans-serif;
	color: black;
}
p
 {
	margin: 0 0 1em;
}
a {
	color: #77A0B8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
code {
	color: red;
}

/*********** Form Styles *************/
.register-form {
	line-height: 1.4;
	margin-right: -2em;
}

.form-group {
	background: #e0d0ef;
	margin-bottom: 1em;
	padding: 10px;
}
.form-group ul {
	list-style: none;
	margin: 0 0 2em;
	padding: 0;
}
.form-group li {
	margin-bottom: 0.5em;
}
.form-group h3 {
	margin-bottom: 1em;
}
.form-fields input[type="text"],
.form-fields input[type="tel"],
.form-fields input[type="url"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields select {
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  color: #999;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: none;
  line-height: normal;
	max-height: 3em;
}
.form-fields input[type="text"]:focus,
.form-fields input[type="tel"]:focus,
.form-fields input[type="url"]:focus,
.form-fields input[type="email"]:focus,
.form-fields input[type="number"]:focus,
.form-food textarea:focus,
.form-fields select:focus {
  color: #333;
  border: 1px solid #C17CCF;
  outline: none;
  background: #f2f2f2;
}

.form-food textarea{
	display: block;
	box-sizing: border-box;
	font: 0.9em Lato, Helvetica, sans-serif;
	width: 90%;
	height: 6em;
	overflow: auto;
	padding: 0.6em 0.8em;
	color: #999;
	background: #f7f7f7;
	border: 1px solid #e1e1e1;
	line-height: normal;
}
.register-btn {
	border-radius: 0px 2px 2px 0px;
	box-sizing: content-box;
	background: #8B798C;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	padding: 0.35em 0.75em;
	border: none;
	font-size: 1.1em;
	text-decoration: none;
	cursor: pointer;
}
.register-btn:hover, .register-btn:focus {
	background: #C17CCF;
}

/****** Flexbox styles **************/

.register-form {
	display: flex;
	flex-wrap: wrap;
}

.form-group {
	flex: 1 0 300px;
	margin-right: 2em;
}

.form-submit {
	flex: 0 0 100%;
}

.form-fields li {
	display: flex;
	flex-wrap: wrap;
}

.form-fields input[type="text"],
.form-fields input[type="tel"],
.form-fields input[type="url"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields select {
	flex: 1 0 230px;
}

.form-fields label {
	flex: 1 0 90px;
	/*background-color: #b0a8b7; /*remove bg color*/*/
	max-width: 200px;
}

.form-skills, .form-workshop {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-skills li {
	width: 145px;
}

.form-workshop li {
	flex: 1 0 200px;
}

/* Media queries ********************* */
@media (max-width: 400px) {
	body {
		width: 100%;
		margin: 0;
		padding: 0 0 2em;
	}
	 header, .form-submit {
		 padding: 2% 5%;
	 }
}
